<template name="home">
  <div class="template-home">
    <!-- <div class="page-header">
      <h1>Welcome to Trollolo, <small>enjoy your life!</small></h1>
    </div> -->

    <div class="video-list">
      <div class="video">
        <div class="left">
          <div class="title">
          {{#each posts}}
            <h4>{{title}} - {{url}}</h4>
            <small>Donec sed odio dui. Nullam quis risus eget urna mollis</small>
          {{/each}}
          </div>
          <div class="v-content">
            <iframe width="560" height="315"
              src=""
              frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="right">
          {{> commentList}}
        </div>
      </div>

      <div class="video">
        <div class="left">
          <div class="title">
            <h4>Top aligned media</h4>
            <small>Donec sed odio dui. Nullam quis risus eget urna mollis</small>
          </div>
          <div class="v-content">
            <iframe width="560" height="315"
              src="https://www.youtube.com/embed/gyUuQnOosjc"
              frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="right">
          {{> commentList}}
        </div>
      </div>

      <div class="video">
        <div class="left">
          <div class="title">
            <h4>Top aligned media</h4>
            <small>Donec sed odio dui. Nullam quis risus eget urna mollis</small>
          </div>
          <div class="v-content">
            <iframe width="560" height="315"
              src="https://www.youtube.com/embed/xIPl913UUFU"
              frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="right">
          {{> commentList}}
        </div>
      </div>
    </div>
  </div>
</template>
