<template name="posts">
  <div class="template-post">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="at-form">
          <div class="at-title"><h3>ĐĂNG VIDEO</h3></div>
          <div class="at-error alert alert-danger">
            <p>Error about any problem</p>
          </div>
          <div class="at-pwd-form">
            <form class="new-post">
            <fieldset>

            </fieldset>
              Title<br />
              <input type="text" name="youtube" value="" /><br />
              Youtube Link<br />
              <input type="text" name="title" value="" /><br /><br />
              <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
